@model List<Animal>

@{
    ViewData["Title"] = "Lista de clientes y sus animales";
}
<h1>@ViewData["Title"]</h1>


<p>Listado de nuestros clientes. Como administrador, usted puede registar los animales adoptados por cada cliente.</p>




<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Propietario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Id</th>
            <th scope="col">Acciones</th>


        </tr>
    </thead>

    <tbody>
        @foreach (var Item in Model)
        {
            <tr>
                <td>@Item.Propietario</td>
                <td>@Item.Nombre</td>
                <td>@Item.Id</td>

                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" asp-controller="Animal" asp-action="Edit" asp-route-Id="@Item.Id" class="btn btn-info"><i class="bi bi-pencil-square"></i></a>
                    </div>

                </td>

            </tr>
        }

    </tbody>
</table>
