@model List<Animal>

@{
    ViewData["Title"] = "Gestión Solicitud Adopción";
}
<h1>@ViewData["Title"]</h1>






<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Propietario</th>
            <th scope="col">Acciones</th>


        </tr>
    </thead>
   
    <tbody>
        @foreach(var Item in Model){
        <tr>
                <td>@Item.Id</td>
                <td>@Item.Nombre</td>
            <td>@Item.Propietario</td>
           

            <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" asp-controller="Adopcion" asp-action="Edit" asp-route-Id="@Item.Id"  class="btn btn-info"><i class="bi bi-pencil-square"></i></a>
                        <a type="button" asp-controller="Adopcion" asp-action="Aprobar" asp-route-Id="@Item.Id" class="btn btn-success"><i class="bi bi-check-square"></i> </a>
                        <a type="button" asp-controller="Adopcion" asp-action="Rechazar" asp-route-Id="@Item.Id" class="btn btn-danger"><i class="bi bi-x-square"></i></a>
                    </div>
               
             </td>

        </tr>
        }
        
    </tbody>
</table>
